@import '../utils/mixin.scss';

.head {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
  a {
    text-decoration: none;
    .header_title {
      padding: 10px 7px 10px 7px;
      border-radius: 25px 5px;
      text-align: center;
      box-shadow: 1px 2px 2px blue, inset 1px 3px 3px silver;
    }
  }
  .header_nav {
    width: 100%;
    ul {
      display: flex;
      gap: 6px;
      padding: 0;
      margin: 0;
      li {
        display: flex;
        list-style: none;
        min-height: 25px;
        align-items: center;
        padding: 0px 5px;
        @include border_style(blue, aqua, purple, black);
        .header_nav_link {
          color: midnightblue;
          text-decoration: none;
        }
      }
    }
  }
}
